@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: black;
}

#circulo {
  width: 250px;
  height: 250px;
  border:3px solid #801212;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: 50px auto;
  padding: 50px;
}

.conteudo {
	padding: 20px 0px 40px 0px;
}

#timer {
  display: inline-block;
  position: relative;
  top: 15px;
  left: 1%;
  margin: 50px auto;
  color: white;
  font-size: 65px;
}

.buttons {
	padding: 8px 12px;
  margin: 2px 0px;
  font-weight: bold;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid;
}

#btn_comecar, #btn_pausar,#btn_intervalo, #btn_intervalolongo, #btn_pomodoro {
  text-decoration: none;
  text-align: center;
  width: 13%;
  padding: 10px;
  position: relative;
  top: -10px ;
  left: -1%;
  background: #801212;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  transition: 1s all;
  cursor: pointer;
}

#btn_custom {
  text-decoration: none;
  text-align: center;
  width: 10%;
  padding: 10px;
  position: relative;
  top: -17px;
  left: -2%;
  background: #801212;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  transition: 1s all;
  cursor: pointer;
}

#customz {
  text-decoration: none;
  text-align: center;
  width: 10%;
  padding: 10px;
  position: relative;
  top: -17px;
  left: -2%;
  background: #801212;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  transition: 1s all;
  cursor: pointer;
}